<div class="container-fluid" style="background-color:#6b0848;" th:fragment="footer">
		<div class="row" id="foot">
			<div class="container footer">
				<div class="col-lg-6 article-footer">
					<div id="article">ARTICLE MANAGEMENT SYSTEM</div>
					<p>Version 0.0</p>
					<p>Siem Reab Class</p>
				</div>
				<div class="col-lg-5 about-me">
					<p class="me">About Me</p>
					<p><b>Sida Hoil</b> -study IT at Royal University of Phone Phen and training IT at Korea Software Center</p>
				</div>
			</div>
		</div>
	</div>