<div class="container-fluid" style=" background-color: #6b0848;" th:fragment="header">
		<div class="row header">
			<div class="container">
				<div class="menu-container">
					<!-- Title -->
					<a href="/article"><div id="article">ARTICLE MANAGEMENT SYSTEM</div></a>
					<div id="menu">
						<ul>
							<li><a href="">English <span class="glyphicon glyphicon-triangle-bottom text-white pl-4"></span> </a></li>
							<li><a href="#"><span class="glyphicon glyphicon-question-sign text-white"> About</span> </a></li>
							<li><a href="/category"><span class="glyphicon glyphicon-th-list text-white"> Categories</span> </a></li>
							<li><a href="/article"><span class="glyphicon glyphicon-home text-white"> Article</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>