<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default_layout"
>
<head>
<title>Article Management</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="css/article-style.css" />
</head>
<body>
	<div th:replace="fragment/header::header"></div>
	<div class="container-fluid" ><!-- layout:fragment="content" -->
		<div class="row content">
			<div class="container">
				<div class="">
					<h3 class="text-center text-primary">Article List</h3>
				</div>
				<div class="w-25 bg-primary text-white text-center mb-4">
					<a id="add-new" href="/add-new">Add New</a>
				</div>
			</div>
			<div class="container">
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th width="150px;">Title</th>
							<th>Description</th>
							<th>Author</th>
							<th>Category</th>
							<th width="200px">Date</th>
							<th width="100px">Image</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="article : ${articles}" th:object="${article}"
							th:class="${articleStat.odd} ? ' odd ' :' even ' ">
							<td th:text="*{id}"></td>
							<td th:text="*{title}"></td>
							<td th:text="*{description}"></td>
							<td th:text="*{author}"></td>
							<td th:text="*{category.name}"></td>
							<td th:text="*{createdDate}"></td>
							<td><img th:src="*{thumbnail}" width="100px"></td>
							<!--  -->
							<td>
								<button class="btn btn-primary">
									<a href="#" th:href="@{delete/{id}(id=*{id})}">Delete</a>
								</button>
								<button class="btn btn-info">
									<a href="#" th:href="@{view/{id}(id=*{id})}">View</a>
								</button>
								<button class="btn btn-success">
									<a href="#" th:href="@{update/{id}(id=*{id})}">Update</a>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="fragment/footer::footer"></div>
</body>
</html>