
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default_layout"
>
<head>
<meta charset="UTF-8">
<title>Update article</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" >
<link rel="stylesheet" href="/css/article-style.css" />
<link rel="stylesheet" href="/css/add-new-style.css" />
</head>
<body>
	<div th:replace="fragment/header::header"></div>
	<div class="container">
		<div class="nav-container pt-4">
			<div class="article">
				<h1>Update article</h1>
			</div>
		</div>
		<form th:action="${formAdd}?'/add-new':'/update' " method="post" enctype="multipart/form-data">
			<div th:object="${article}" class="table">
				<label class="text-black-50 pt-pb-10">ID</label> 
				<input type="text" th:field="*{id}" class="inp pt-pb-10 berder-0" > 
				
				<label class="text-black-50 pt-pb-10">Title</label> 
				<input type="text" th:field="*{title}" class="inp pt-pb-10" > 
				<span th:if="${#fields.hasErrors('title')}">=> Title can not blanks</span>
				
				<label class="text-black-50 pt-pb-10">Description</label>
				<input type="text" th:field="*{description}" class="inp pt-pb-10"> 
				<span th:if="${#fields.hasErrors('description')}" >=>Description can not blanks</span>
				
				<label class="text-black-50 pt-pb-10">Category</label>
				<select  class="form-control"   th:field="*{category.id}">
					<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
					<!-- <option th:value="1">Spring</option>
					<option th:value="2">Java</option>
					<option th:value="3">CSS</option>
					<option th:value="4">HTML</option>
					<option th:value="5">AJAX</option>
					<option th:value="6">JSON</option>
					<option th:value="4">PHP</option>
					<option th:value="5">JavaScript</option>
					<option th:value="6">jQuery</option> -->
				</select>
				
				<label class="text-black-50 pt-pb-10">Author</label>
				<input type="text" th:field="*{author}" class="inp pt-pb-10"> 
				<span th:if="${#fields.hasErrors('author')}" >=> Author can not blanks</span><br>
				
				<input type="submit" class="btn btn-primary btn-lg" th:value="${formAdd}?'Save':'Upate' "/>
			</div>
		</form>
	</div>
	<div th:replace="fragment/footer::footer"></div>
</body>
</html>