@charset "UTF-8";
.nav-container{
	width:100%;
	color:white;
	display: flex;
	justify-content: space-between;
}
.back:hover{
	
}
#back-to-home{
	font-size: 30px;
	color:magenta;
	text-decoration:none;	
}
#back-to-home:hover{
	text-decoration:none;
	color:deeppink;
}

table{
	color:green;
	font-size: 20px;
}
table input{
	border:1px solid green;
	padding:10px;
	width:350px;
	margin: 5px;
	border-radius:8px;
	font-size: 20px;
	color:green;
}
table tr,td{
	border: 0px;
}
span{
	color:red;
}
.pt-pb-10{
	padding-top: 10px;
	font-size: 20px;
	margin-bottom: 5px;
}

.inp, input:focus{
    outline: none;
    border: 0;
	outline: 0;
	border-bottom: 1px solid gray;
	width: 100%;
}
