@charset "UTF-8";
.container1{
	box-sizing: content-box;
	padding:30px;
}
p{
	font-size: 25px;
	color: white;
	padding-bottom: 20px;
	padding-top: 20px;
}

p span{
	font-size: 25px;
	color: #CEFC86;
}
#back-to-home{
	font-size: 30px;
	color:magenta;
	text-decoration:none;	
}
#back-to-home:hover{
	text-decoration: underline;
	color:deeppink;
}
table{
	color:green;
	font-size: 20px;
}
table input{
	border:1px solid green;
	padding:10px;
	width:350px;
	margin: 5px;
	border-radius:8px;
	font-size: 20px;
	color:green;
}
table td{
	/* padding:10px; */
}